{% include "shared/header.shared.html" %}
{% include "shared/guest-nav.shared.html" %}

<main class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1>Login</h1>

      {% if messages.info %}
        <div class="alert">
          <p class="alert-message">{{ messages.info }}</p>
          <button class="alert-close">x</button>
        </div>
      {% endif %}

      {% if messages.alert %}
        <div class="alert">
          <p class="alert-message">{{ messages.alert }}</p>
          <button class="alert-close">x</button>
        </div>
      {% endif %}

      <form action="/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" class="form-control" placeholder="kai@doe.com">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Super secret ********">
        </div>

        <div class="form-group">
          <button type="submit" class="btn">Login</button>
        </div>

        <div class="form-group">
          Don't have an account? <a href="/register">Register</a>
        </div>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</main>

{% include "shared/footer.shared.html" %}
