{% include "shared/header.shared.html" %}
{% include "shared/auth-nav.shared.html" %}

<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-8">
          <h1>{{ data.title }}</h1>
        </div>
        <div class="col-4 add-entity">
          <a href="/admin/fields/{{ data.pickup }}/add" class="btn">Add new value</a>
        </div>
      </div>

      {% if messages.alert %}
        <div class="alert">
          <p class="alert-message">{{ messages.alert }}</p>
          <button class="alert-close">x</button>
        </div>
      {% endif %}

      {% if messages.info %}
        <div class="alert">
          <p class="alert-message">{{ messages.info }}</p>
          <button class="alert-close">x</button>
        </div>
      {% endif %}

      {% if data.values | length > 0 %}
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Active</th>
              <th>Created On</th>
              <th>Updated On</th>
              <!-- TODO: Add createdBy and updatedBy as we'll not going to have the show page for the fields. 
              In this case, we need to display all the information on this table. 
              Otherwise, there is no way to see complete information. -->
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for value in data.values %}
              <tr>
                <td>{{ value.id }}</td>
                <td>{{ value.name }}</td>
                <td>{{ "Yes" if value.active else "No" }}</td>
                <td>{{ value.createdAt }}</td>
                <td>{{ value.updatedAt }}</td>
                
                <td class="text-center"><a href="/admin/fields/{{ data.pickup }}/{{ value.id }}/edit">edit</a> | 
                <!-- TODO: Add confirmation dialog before deleting. -->
                <form method="post" action="/admin/fields/{{ data.pickup }}/{{ value.id }}/delete" class="inline">
                  <button class="btn-link">delete</button>
                </form>
               </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h1>Something goes wrong.</h1>
      {% endif %}
    </div>
  </div>
</main>

{% include "shared/footer.shared.html" %}