{% include "shared/header.shared.html" %}
{% include "shared/auth-nav.shared.html" %}


<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Add new {{ request.session.module_companies }}</h1>

      <form action="/companies" method="post">
        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="name">{{ request.session.companies_name }}</label>
              <input type="text" name="name" id="name" class="form-control" placeholder="Acme, Inc.">
            </div>
          </div>
        </div>

        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="website">{{ request.session.companies_website }}</label>
              <input type="text" name="website" id="website" class="form-control" placeholder="https://acme.com">
            </div>
          </div>
        </div>

        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="sourceId">{{ request.session.companies_sourceId }}</label>
              <select name="sourceId" id="sourceId" class="form-control">
                {% for source in data.sources %}
                  <option value="{{ source.id }}">{{ source.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="stageId">{{ request.session.companies_stageId }}</label>
              <select name="stageId" id="stageId" class="form-control">
                {% for stage in data.stages %}
                  <option value="{{ stage.id }}">{{ stage.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn">Create</button>
          <a href="/companies" class="cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</main>

{% include "shared/footer.shared.html" %}