{% include "shared/header.shared.html" %}
{% include "shared/auth-nav.shared.html" %}


<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Edit this company</h1>

      <form action="/companies/{{ data.company.id }}" method="post">
        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="name">{{ request.session.companies_name }}</label>
              <input type="text" name="name" id="name" class="form-control" placeholder="Acme, Inc." value="{{ data.company.name }}">
            </div>
          </div>
        </div>

        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="website">{{ request.session.companies_website }}</label>
              <input type="text" name="website" id="website" class="form-control" placeholder="https://acme.com" value="{{ data.company.website }}">
            </div>
          </div>
        </div>

        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="sourceId">{{ request.session.companies_sourceId }}</label>
              <select name="sourceId" id="sourceId" class="form-control">
                {% for source in data.sources %}
                  {% if source.id === data.company.sourceId %}
                    <option value="{{ source.id }}" selected>{{ source.name }}</option>
                  {% else %}
                    <option value="{{ source.id }}">{{ source.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <!-- Hack: design hack to look little good. -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="stageId">{{ request.session.companies_stageId }}</label>
              <select name="stageId" id="stageId" class="form-control">
                {% for stage in data.stages %}
                  {% if stage.id === data.company.stageId %}
                    <option value="{{ stage.id }}" selected>{{ stage.name }}</option>
                  {% else %}
                    <option value="{{ stage.id }}">{{ stage.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn">Update</button>
          <a href="/companies/{{ data.company.id }}" class="cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</main>

{% include "shared/footer.shared.html" %}