{% include "shared/header.shared.html" %}
{% include "shared/auth-nav.shared.html" %}

<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-8">
          <h1>{{ request.session.module_companies_plural }} ({{ data.count }})</h1>
        </div>
        <div class="col-4 add-entity">
          <a href="/companies/add" class="btn">Add new {{ request.session.module_companies.toLowerCase() }}</a>
        </div>
      </div>

      <form action="/companies" method="get">
        <input type="text" name="search" id="search" class="form-control search" placeholder="Search {{ request.session.module_companies.toLowerCase() }} by Name" value="{{ data.search }}">
      </form>

      {% if messages.info %}
        <div class="alert">
          <p class="alert-message">{{ messages.info }}</p>
          <button class="alert-close">x</button>
        </div>
      {% endif %}

      <table class="table">
        <thead>
          <tr>
            <th>
                <a href="/companies/?sort=id&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">
                  {{ request.session.companies_id }}
                </a>
            </th>
            <th>
              <a href="/companies/?sort=name&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">
                {{ request.session.companies_name }}
              </a>
            </th>
            <th>
              <a href="/companies/?sort=website&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">
                {{ request.session.companies_website }}
              </a>
            </th>
            <th>{{ request.session.companies_sourceId }}</th>
            <th>{{ request.session.companies_stageId}}</th>
            <th>{{ request.session.companies_createdBy}}</th>
            <th>{{ request.session.companies_updatedBy }}</th>
            <th>
              <a href="/companies/?sort=createdAt&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">
                {{ request.session.companies_createdAt }}
              </a>
            </th>
            <th>
              <a href="/companies/?sort=updatedAt&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">
                {{ request.session.companies_updatedAt }}
              </a>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for company in data.companies %}
            <tr>
              <td>
                <a href="/companies/{{ company.id }}">
                  {{ company.id }}
                </a>
              </td>
              <td>
                <a href="/companies/{{ company.id }}">
                  {{ company.name }}
                </a>
              </td>
              <td>{{ company.website }}</td>
              <td>{{ company.companySource.name }}</td>
              <td>{{ company.companyStage.name }}</td>
              <td>{{ company.creator.fullName }}</td>
              <td>{{ company.updator.fullName }}</td>
              <td>{{ company.createdAt }}</td>
              <td>{{ company.updatedAt }}</td>
              <td class="text-center"><a href="/companies/{{ company.id }}/edit">edit</a> | 
                <!-- TODO: Add confirmation dialog before deleting. -->
                <form method="post" id="deleteCompanyForm" action="/companies/{{ company.id }}/delete" class="inline">
                  <button class="btn-link" id="deleteCompanyButton">delete</button>
                </form>
               </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- Pagination. -->
      <div class="row">
        <div class="col-6">
          {% if data.disablePrev %}
            <a href="/companies" class="btn pagination disabled">Prev</a>
          {% else %}
            <a href="/companies/?page={{ data.page | int - 1 }}&size={{ data.size }}&sort={{ data.sort }}&dir={{ data.dir }}&search={{ data.search }}" class="btn pagination">Prev</a>
          {% endif %}

          {% if data.disableNext %}
            <a href="/companies" class="btn pagination disabled">Next</a>
          {% else %}
            <a href="/companies/?page={{ data.page | int + 1 }}&size={{ data.size }}&sort={{ data.sort }}&dir={{ data.dir }}&search={{ data.search }}" class="btn pagination">Next</a>
          {% endif %}
        </div>

        <div class="col-6 text-right">
          <a href="/companies/download" class="btn download">Download</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "shared/footer.shared.html" %}