{% include "shared/header.shared.html" %}
{% include "shared/auth-nav.shared.html" %}

<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-8">
          <h1>Companies ({{ data.count }})</h1>
        </div>
        <div class="col-4 add-entity">
          <a href="/companies/add" class="btn">Add new company</a>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>
                <a href="/companies/?sort=id&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">Id</a>
            </th>
            <th>
              <a href="/companies/?sort=name&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">Name</a>
            </th>
            <th>
              <a href="/companies/?sort=website&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">Website</a>
            </th>
            <th>Source</th>
            <th>Stage</th>
            <th>Created by</th>
            <th>Updated by</th>
            <th>
              <a href="/companies/?sort=createdAt&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">Created on</a>
            </th>
            <th>
              <a href="/companies/?sort=updatedAt&dir={{ 'asc' if data.dir === 'desc' else 'desc' }}">Updated on</a>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for company in data.companies %}
            <tr>
              <td>
                <a href="/companies/{{ company.id }}">
                  {{ company.id }}
                </a>
              </td>
              <td>
                <a href="/companies/{{ company.id }}">
                  {{ company.name }}
                </a>
              </td>
              <td>{{ company.website }}</td>
              <td>{{ company.companySource.name }}</td>
              <td>{{ company.companyStage.name }}</td>
              <td>{{ company.creator.firstName }} {{ company.creator.lastName }}</td>
              <td>{{ company.updator.firstName }} {{ company.updator.lastName }}</td>
              <td>{{ company.createdAt }}</td>
              <td>{{ company.updatedAt }}</td>
              <td class="text-center"><a href="/companies/{{ company.id }}/edit">edit</a> | 
                <!-- TODO: Add confirmation dialog before deleting. -->
                <form method="post" action="/companies/{{ company.id }}/delete" class="inline">
                  <button class="btn-link">delete</button>
                </form>
               </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="row">
        <div class="col-6">
          {% if data.disablePrev %}
            <a href="/companies" class="btn pagination disabled">Prev</a>
          {% else %}
            <a href="/companies/?page={{ data.page | int - 1 }}&size={{ data.size }}&sort={{ data.sort }}&dir={{ data.dir }}" class="btn pagination">Prev</a>
          {% endif %}

          {% if data.disableNext %}
            <a href="/companies" class="btn pagination disabled">Next</a>
          {% else %}
            <a href="/companies/?page={{ data.page | int + 1 }}&size={{ data.size }}&sort={{ data.sort }}&dir={{ data.dir }}" class="btn pagination">Next</a>
          {% endif %}
        </div>

        <div class="col-6 text-right">
          <a href="/companies/download" class="btn download">Download</a>
        </div>
      </div>
      
      
    </div>
  </div>
</main>

{% include "shared/footer.shared.html" %}