{% include "shared/header.shared.html" %}
{% include "shared/auth-nav.shared.html" %}


<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-8">
          <h1>{{ data.company.name }}</h1>
        </div>
        <div class="col-4 back">
          <a href="/companies" class="btn">Back</a>
        </div>
      </div>
      
      <!-- TODO: We need to update the UI of the show page. -->
      <p>
        <a href="{{ data.company.website }}" target="_blank">
          {{ data.company.website }}
        </a>
      </p>

      <p>
        <span>Stage</span>: <span>{{ data.company.companyStage.name }}</span>
      </p>

      <p>
        <span>Source</span>: <span>{{ data.company.companySource.name }}</span>
      </p>

      <hr>

      <a href="/companies/{{ data.company.id }}/edit" class="btn">Edit</a>
      <a href="/companies" class="cancel">Cancel</a>
    </div>
  </div>
</main>

{% include "shared/footer.shared.html" %}